nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    letter-spacing: 16px;
    z-index: 3;
    background-color: #090b13;

    #logo {
        padding: 0;
        width: 80px;
        margin-top: 4px;
        max-height: 70px;
        font-size: 0;
        display: inline-block;

        img {
            display: block;
            width: 100%;
        }
    }
}

#login-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;

    #login-content {
        margin-bottom: 10vw;
        width: 100%;
        position: relative;
        min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 80px 40px;
        height: 100%;

        #login-center {
            max-width: 650px;
            width: 100%;
            display: flex;
            flex-direction: column;

            #login-logo-one {
                margin-bottom: 12px;
                max-width: 600px;
                min-height: 1px;
                display: block;
                width: 100%;
            }
            #login-signup-link {
                font-weight: bold;
                color: #f9f9f9;
                background-color: #0063e5;
                margin-bottom: 12px;
                width: 100%;
                letter-spacing: 1.5px;
                font-size: 18px;
                padding: 16.5px 0;
                border: 1px solid transparent;
                border-radius: 4px;

                &:hover {
                    background-color: #0483ee;
                }
            }
            #login-description {
                font-size: 11px;
                margin-bottom: 24px;
                line-height: 1.5;
                letter-spacing: 1.5px;
            }
            #login-logo-two {
                max-width: 600px;
                margin-bottom: 20px;
                display: inline-block;
                vertical-align: bottom;
                width: 100%;
            }
        }
        #login-bg-image {
            height: 100%;
            background-position: top;
            background-image: url('../public/images/login-background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }
    }
}